*{
    margin: 0;
    padding: 0;
}

div{
    background-color: black;
    color: white;
    border: solid black;
    height: 30px;
}
#logo{
    size: 25px;
    color: orange;
}
#MyCart,#contact{
    color: aqua;
}
a{
    margin-right: 200px;
}
button{
    background-color: orange;
}
